@media only screen and (max-width: 900px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
  }

  .navigation-wrapper {
    z-index: 100001;
  }

  .nav-items-wrapper {
    position: absolute;
    background: #974a2d;
    width: 100%;
    z-index: 100000;

    .mobile-nav-items {
      top: -1000px;
      left: 0;
      display: block;
      width: 100%;
      background: #974a2d;
      z-index: 100;
      padding-bottom: 20px;
      ul {
        align-items: flex-start;
        padding-left: 20px;
      }
    }
  }

  .navigation-wrapper {
    .navigation {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 7px 20px;
      z-index: 1000;
      .profile-picture {
        background: #83452f;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        img {
          border-radius: 50%;
          width: 70px;
          height: 70px;
        }
      }
      .regular-nav-items {
        display: none;
      }
      .mobile-nav-icon {
        z-index: 1000;
        display: block;
      }
    }
  }

  .page-transition-wrapper {
    position: relative;
    .base-page {
      padding: 40px;
      position: absolute;
      top: 0;
      left: 0;
      &.experience {
        display: inline;
      }

      .section {
        .top {
          .after {
            flex-wrap: wrap;
            display: flex;
            justify-content: right;
            white-space: pre-wrap;
            align-self: start;
          }
        }
        .content {
          font-size: 14px;
          line-height: 22px;
          white-space: pre-line;
        }
      }
    }
  }

  .home {
    .personal {
      .name {
        font-size: 4.2rem;
        line-height: 4.2rem;
        display: flex;
        flex-direction: column;
        .separator {
          display: none;
        }
      }
      .info-wrapper {
        .info {
          font-size: 16px;
        }
      }
    }
    .intro {
      color: #a19885;
      margin-top: 30px;
    }

    .socials {
      ul {
        li {
          width: 40px;
          height: 40px;
          svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  .no-br {
    white-space: nowrap;
  }
  .section-span {
    display: block;
  }
  .mobile-br {
    display: block;
  }
}

.content-text {
  font-size: 14px;
  line-height: 22px;
}

.hamburger-icon {
  cursor: pointer;
  padding: 5px;
  div {
    width: 35px;
    height: 3px;
    background-color: #cba596;
    margin: 6px 0;
  }
}
