@import "./variables.module.scss";

$main-color-text: #c3beb6;
$sub-color-text: rgb(161, 152, 140);

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

::-webkit-scrollbar {
  background-color: #202324;
  color: #aba499;
}

::-webkit-scrollbar-corner {
  background-color: #181a1b;
}

::-webkit-scrollbar-thumb:active {
  background-color: #484e51;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575e62;
}

::-webkit-scrollbar-thumb {
  background-color: #454a4d;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

.transition-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  &.home-page {
    .page-transition-wrapper {
      background: $home-page-background-color;
    }
  }
  &.skills-page {
    .page-transition-wrapper {
      background: $skills-page-background-color;
    }
  }
  &.experience-page {
    .page-transition-wrapper {
      background: $experience-page-background-color;
    }
  }
  &.education-page {
    .page-transition-wrapper {
      background: $education-page-background-color;
    }
  }
  &.projects-page {
    .page-transition-wrapper {
      background: $projects-page-background-color;
    }
  }
  &.about-me-page {
    .page-transition-wrapper {
      background: $about-me-page-background-color;
    }
  }
}

.navigation-wrapper {
  display: flex;
  .navigation {
    background: #974a2d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    width: 210px;
    flex: 1;
    .profile-picture {
      background: #83452f;
      width: 165px;
      height: 165px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
      }
    }
    .mobile-nav-icon {
      display: none;
    }
    .mobile-nav-items {
      display: none;
    }
  }
}

.nav-items {
  ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    li {
      a {
        display: flex;
        justify-content: center;
        cursor: pointer;
        text-transform: uppercase;
        color: #b99888;
        font-weight: 700;
        &:hover {
          color: #e6dedd;
        }
        &.selected {
          color: #e6dedd;
        }
        text-decoration: none;
      }
    }
  }
}

.main-content {
  flex: 1;
  position: relative;
  background: $main-background-color;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  &.display-scrollbars {
    overflow: auto;
  }
}

.home {
  color: white;
  .personal {
    font-family: "Saira Extra Condensed", serif;
    font-weight: 700;
    text-transform: uppercase;
    .name {
      font-size: 6rem;
      line-height: 5.5rem;
      .first-name {
        color: #c3beb6;
      }
      .last-name {
        color: #cc7553;
      }
    }
    .info-wrapper {
      display: flex;
      justify-content: flex-start;

      .info {
        color: #cc7553;
        &:hover {
          color: rgb(216, 150, 125);
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .intro {
    color: #a19885;
    margin-top: 30px;
    line-height: 22px;
  }
  .socials {
    margin-top: 30px;
    ul {
      display: flex;
      column-gap: 10px;
      li {
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #b5afa6;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background: #ca7452;
        }
        svg {
          width: 25px;
          height: 25px;
          path {
            fill: #e8e6e3;
          }
        }
      }
    }
  }
}

.base-page {
  padding: 0 40px;
  .heading {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 48px;
    color: $main-color-text;
    font-family: "Saira Extra Condensed", serif;
  }
  .section {
    margin-top: 50px;
    width: 100%;
    .top {
      .main {
        display: flex;
        justify-content: space-between;
        .title {
          font-weight: 700;
          text-transform: uppercase;
          font-family: "Saira Extra Condensed", serif;
          color: $main-color-text;
          font-size: 28px;
          line-height: 26px;
        }
        .after {
          color: rgb(204, 117, 83);
        }
      }
      .sub {
        margin-top: 10px;
        font-family: "Saira Extra Condensed", serif;
        font-weight: 500;
        text-transform: uppercase;
        color: $sub-color-text;
        font-size: 20px;
        line-height: 18px;
      }
    }
    .content {
      margin-top: 20px;
      color: $sub-color-text;
      max-width: 1050px;
      font-size: 16px;
      line-height: 22px;
      white-space: pre-line;
    }
  }
}

.experience,
.education {
  width: 100%;
}

.skills-list {
  margin-top: 50px;
  h2 {
    font-family: "Saira Extra Condensed", serif;
    font-weight: 500;
    text-transform: uppercase;
    color: $sub-color-text;
    font-size: 20px;
    line-height: 18px;
  }
  .icons {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 1000px;
    svg {
      width: 50px;
      height: 50px;
      path {
        fill: $sub-color-text;
      }
    }
  }
}

.tooltip-wrapper {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltiptext {
  visibility: visible;
  background-color: #555;
  white-space: pre-line;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 1;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
