@import "./variables.module.scss";

.transition-piece {
  width: 200px;
  height: 200px;
  background: $main-background-color;
  position: absolute;
  transform: scale(0);
  z-index: 1001;
}

.transition-wrapper {
  &.home-page {
    .transition-piece {
      transform: scale(0) rotate(45deg);
      &.piece-1 {
        left: -100px;
        top: -100px;
      }
      &.piece-2 {
        bottom: -100px;
        right: -100px;
      }
    }
  }
  &.skills-page {
    .transition-piece {
      transform: scale(0) rotate(45deg);
      &.piece-1 {
        right: -100px;
        top: -100px;
      }
      &.piece-2 {
        bottom: -100px;
        left: -100px;
      }
    }
  }
  &.experience-page {
    .transition-piece {
      transform: scaleX(0);
      &.piece-1 {
        left: -100px;
        height: 100%;
      }
      &.piece-2 {
        right: -100px;
        height: 100%;
      }
    }
  }
  &.education-page {
    .transition-piece {
      transform: scaleY(0);
      &.piece-1 {
        top: -100px;
        width: 100%;
      }
      &.piece-2 {
        bottom: -100px;
        width: 100%;
      }
    }
  }
  &.projects-page {
    .transition-piece {
      &.piece-1 {
        height: 100%;
        left: -200px;
        transform-origin: 0px 200px;
        transform: scaleX(0);
      }
    }
  }
  &.about-me-page {
    .transition-piece {
      &.piece-1 {
        height: 100%;
        right: -200px;
        transform-origin: 0px 200px;
        transform: scaleX(0);
      }
    }
  }
}

.new-page {
  &.visible {
    display: flex;
  }
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  transform-origin: 0px 0px;
}

@keyframes diamond {
  0% {
    transform: rotate(45deg) scale(0);
  }
  50% {
    transform: rotate(45deg) scale(10);
  }
  100% {
    transform: rotate(45deg) scale(0);
  }
}
