$home-page-background-color: #222425;
$experience-page-background-color: #3f4142;
$education-page-background-color: #2a2d2e;
$projects-page-background-color: #33383e;
$skills-page-background-color: #19323c;
$about-me-page-background-color: #434546;
$main-background-color: #181a1b;

:export {
  homePageBackground: $home-page-background-color;
  experiencePageBackground: $experience-page-background-color;
  educationPageBackground: $education-page-background-color;
  projectsPageBackground: $projects-page-background-color;
  skillsPageBackground: $skills-page-background-color;
  aboutMeBackground: $about-me-page-background-color;
}
